{% block seo %}
<!-- contains all seo related meta tags(seo, og:images, theme color etc..)-->

{% endblock seo %}

{% block icons %}
<!-- contains all icons -->

{% endblock icons %}

{% block meta %}
<!-- contains all meta other remaining tags, manifest etc..-->

{% endblock meta %}


{% block multi_urls %}
<!-- contains links for multilanguse settings.. -->

{% endblock multi_urls %}

{% block lightcss %}
<!-- import required css, (for loader etc..kindaa pre-css)-->

{% endblock lightcss %}

{% block lightjs %}
<!-- import required js, (for loader etc..kindaa pre-js)-->

{% endblock lightjs %}


{% block custom_precss %}
<!-- import optional css, for individual pages-->

{% endblock custom_precss %}


{% block custom_prejs %}
<!-- import optional js, for individual pages-->

{% endblock custom_prejs %}